NODE_ENV=development
PORT=3000
HOST=0.0.0.0

DATABASE_URL="postgresql://zeynab:nouveaumotdepasse@localhost:55433/Gestion_approvisonnements?schema=public"

CLOUDINARY_CLOUD_NAME="dveynaveb"
CLOUDINARY_API_KEY="256577716619276"
CLOUDINARY_API_SECRET="lo-ju70_AbB8Kl-f7I4A_RY4tIY"

JWT_SECRET="your-jwt-secret-key-change-in-production"

LOG_LEVEL=info
API_VERSION=v1
SWAGGER_ENABLED=true
CORS_ORIGIN=*
MAX_FILE_SIZE=10mb